html, body {
    position: relative;
    height: 100%;
    overflow: auto;
}

body {
    width: 80%;
    margin: auto;
    background-color: #297373;
    color: #39393A;
}

header {
    display: block;
    text-align: center;
    margin-top: 3em;
    line-height: 0;
    color: #E6E6E6;
}

#container {
    overflow: hidden;
    min-height: 90%;
    margin-bottom: -1em;
}

#container .column {
    position: relative;
    float: left;
}

#container h2, h3 {
    color: #FF8552;
}

#left {
    width: 20%;
}

#right {
    width: 80%;
}

footer {
    clear: both;
    height: 1em;
    position: relative;
    display: block;
    text-align: center;
    color: #E6E6E6;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: 0.5em;
}

a:link, a:visited {
    background-color: #FF8552;
    color: #39393A;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.5em;
}

a:hover, a:active {
    background-color: #E9D758;
}

.card-head {
    margin-bottom: 0;
}

.card-head h3, h4 {
    display: inline;
}

.card-body p {
    margin: 0;
}

.card-body p span {
    color: #E6E6E6;
}