html, body {
    position: relative;
    height: 100%;
    overflow: auto;
}

body {
    width: 80%;
    margin: auto;
    background-color: #297373;
    color: #39393A
}

header {
    display: block;
    text-align: center;
    margin-top: 3em;
    line-height: 0;
    color: #E6E6E6;
}

#container {
    overflow: hidden;
    min-height: 90%;
    margin-bottom: -1em;
}

#container .column {
    position: relative;
    float: left;
}

#container h2 {
    color: #FF8552;
}

#left {
    width: 80%;
}

#right {
    width: 20%;
}

footer {
    clear: both;
    height: 1em;
    position: relative;
    display: block;
    text-align: center;
    color: #E6E6E6;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: 0.5em;
}

a:link, a:visited {
    background-color: #FF8552;
    color: #39393A;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1.5em;
}

a:hover, a:active {
    background-color: #E9D758;
}

img {
    height: 20em;
    float: left;
    margin-right: 2em;
}

table {
    border-collapse:collapse;
    border-color:#39393a;
    border-spacing:0;
    float: left;
    margin-right: 3em;
}

table td {
    background-color: #E6E6E6;
    border-color:#39393a;
    border-style:solid;
    border-width:1px;
    color:#39393a;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    text-align:left;
    vertical-align:top
}

table th {
    background-color:#FF8552;
    border-color:#39393a;
    border-style:solid;
    border-width:1px;
    color:#E6E6E6;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    text-align:center;
    vertical-align:top
}

@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .carousel {
    position: relative;
    margin-top: 15vh;
    width: 10vw;
    height: 20vh;
  }
  
  .carousel > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }