<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cem Safa</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <h1>Cem Safa</h1>
        <p>Electronics Engineer & Developer</p>
    </header>

    <div id="container">
        <main id="left" class="column">            
            
        </main>

        <aside id="right" class="column">
            <nav>
                <ul>
                    <li><a href="index.html">About</a></li>
                    <li><a href="work.html">Work Experience</a></li>
                    <li><a href="education.html">Education</a></li>
                </ul>
            </nav>
        </aside>
    </div>

    <footer>&copy; 2021 Cem Safa - All rights reserved</footer>
</body>
</html>